<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div class="container" style="margin-top: 40px;">
    <nav class="panel">
      <p class="panel-heading">
        Example 1
      </p>
      <div id="example1"></div>
    </nav>
  </div>
</body>

</html>